extends layout

include mixins

block content
  div
    form#playlist-info.form-horizontal
      fieldset
        legend Playlist Info
        div.form-group
          label.col-xs-2.control-label(for="playlist-title") Title:
          div.col-xs-10
            input#playlist-title.form-control(type="text" placeholder="New Playlist")
            span#title-help.hidden.help-block A title is required.
        div.form-group
          label.col-xs-2.control-label(for="select") Tracks:
          div.col-xs-10
            select#select.form-control
              - for (var x = 0; x < 10; x++)
                option #{x + 1}
            span.help-block Select the number of songs per artist.
        div.text-center(role="group" aria-label="...")
          button#create-playlist.btn.btn-primary(type="button") Create Playlist
  br
  div
    div#progress.progress.progress-striped.active(hidden=true)
      div.progress-bar(style="width: 100%")
    div#finished.progress.progress-striped(hidden=true)
      div.progress-bar(style="width: 100%")
    div#playlist-link.text-center(hidden=true)
      a(href="")
        button.btn.btn-success Open in Spotify
  br
  +artist-table("fill")

  div.text-center
    iframe#playlist-frame(src="" width="300" height="380" frameborder="0" allowtransparency="true" hidden=true)

  script(src="javascript/creation.js")
  script.
    populateArtistTable();
